body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipes-list, .ing-list {
    margin-top: 100px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.none {
    display: none;
}

.error {
    border-bottom: 2px solid #ff4332;
}

.actions {
    display: flex;
}

.show-ingredients {
    margin-left: 50px;
}